@charset "utf-8";

/* 초기화 */
html {overflow-y:scroll;height:100%}
body {margin:0;padding:0;background:#fff;color:#000;font-size:0.875em;font-family:'돋움',dotum,helvetica;min-width:320px;width:100%;height:100%}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
legend {position:absolute;width:1px;height:1px;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#sir-head ul, header ul, nav ul, #sir-tail ul {margin:0;padding:0;list-style:none}
p {margin:0;padding:0 0 10px;line-height:1.8em;word-break:break-all}
label, select, img, button {vertical-align:middle;} 
textarea, input[type=text]{border-radius:0;}
button {margin:0;border-radius:0;font-size:0.857em;font-family:'돋움',dotum,helvetica;cursor:pointer;border:0}
input[type=text], input[type=password], input[type=submit], input[type=image], button {border-radius:0;-webkit-appearance:none;margin:0;padding:0}
pre {overflow-x:scroll;font-size:1em}
select {margin:0;font-size:0.857em}
hr {display:none}
iframe#hiddenframe {display:none;width:0;height:0}
a, a:link, a:visited, a:active {color:#000;text-decoration:none}
a:focus, a:hover {text-decoration:none}
ul,li,ol,dd,dt,dl{list-style:none;padding:0;margin:0}
table{border-collapse:collapse}
.sound_only,#hd_pop h2{position: absolute;margin: 0 !important;padding: 0 !important;font-size: 0;text-indent: -9999em;line-height: 0;overflow: hidden;}

#con_lf{background:#fff;padding-bottom:10px;border-bottom:2px solid #d5d5d5;position:relative;margin-top:10px}



/* header */

.to_content{z-index:2;position:absolute;top:0;left:50%;height:1px;background:#f0eee1;text-align:center}
.to_content a {position:absolute;top:40px;left:-405px;width:1px;height:1px;overflow:hidden}
.to_content a:focus, .to_content a:active {width:105px;height:33px;background:#000;color:#fff;line-height:2.9em !important;line-height:2.6em}

#header{width:100%; box-shadow:0 0 5px #888}
#hd_wrapper{background:#4f667b; padding:20px 10px 10px; height:40px;}
#logo{float:left;}
#logo a{color:#fff; font-size:1.125em; font-weight:bold;}
#logo a img{padding-left:9px;vertical-align:baseline}
#btn_write{float: right;}
#btn_write a{display:block; border:1px solid #fff; /*width:57px; height:15px;*/ color:#fff; padding:4px 8px 4px 24px; background: url(../img/pencil.png) 10% 50% no-repeat; }
/*#btn_write #new_write_btn{border:1px solid #fff; width:85px; height:31px; color:#fff; padding-left:12px; background: url(../img/pencil.png) 10% 50% no-repeat; }*/
#header:after{clear:both; content:""; display:block}


/* container*/

.write_list{width:100%;}
.write_list .wl{position:relative; height:100%; padding:10px; border-bottom:1px solid #dfdfdf;}
.write_list .wl_absolute{position:absolute; left:118px;}
.write_list .wl_title{top:17px; padding-bottom:14px;}
.write_list .wl_title a{font-size:1.125em; color:#000; font-weight:bold;}
.write_list .wl_thum .wl_text{bottom:10px; padding-top:40px;}
.write_list .wl_text a{color:#5e5e5e; line-height:137.5%/*1.571em*/;}
.write_list .wl_img {/*width:49px; height:51px;*/ /*padding-bottom:10px*/}


/*banner*/

.banner{text-align:center; padding:20px;}
.banner img{width:100%;}



/* post */

.write{padding:10px;}
.write h2{font-size:1.250em; font-weight:bold; padding-bottom:20px;}
.write_area .w_title,
.write_area .w_area{font-weight:bold; color:#5e5e5e; margin-bottom:10px; padding:0 10px 0 0 ;}
.write_area .w_title label{padding-bottom:10px; font-weight:bold;}
.write_area .w_title input{height:20px}
.write_area .w_title input,
.write_area .w_area textarea{width:100%; border:1px solid #cdcdcd; background:#f4f4f4; margin:10px 0; padding:5px;}
.write_area .w_file{padding-bottom:10px;}
.write_area{padding-bottom:10px;}

.w_sr input{float:left;  height:40px; border:1px solid #cdcdcd;}
.w_submit{width:69%; background: #4f667b; color:#fff;}
.w_reset{width:29%; margin-right:2%; color:#000; }



/* list */

.contents_list{padding:10px 0; }
.contents_list:after{display:block; content:""; clear:both;}
.contents_list h2{margin-left:10px; font-size:1.250em; font-weight:bold; padding-bottom:20px;}

.contents_list section{border-top:1px solid #dfdfdf; padding:10px 0;}
.contents_list section h3{margin-left:10px; font-weight:bold; padding-bottom:20px;}
.contents_list .first_ul{border-top:1px solid #dfdfdf}
.contents_list ul{padding:10px; border-bottom:1px solid #dfdfdf}
.contents_list .li_title{padding-bottom:5px;}
.contents_list .li_info span{width:100%;font-size:0.750em; padding:0 8px; background: url('../img/bg_line.gif') no-repeat 0px 0px;}
.contents_list .li_info span.info_nick{background: none}


.search{width:100%; text-align:center; padding:20px 0;}
.search input.stext_area{margin-left:5px; border:1px solid #cdcdcd; padding:5px; width:30%;}
.search input.s_button{border:1px solid #cdcdcd; margin-left:5px;padding:5px 4px 4px;}
.page{width:100%; text-align:center; padding:10px 0;}
.page span{padding:0 5px; font-size:1.214em;}
.page span.page_num{border:1px solid #cdcdcd; width:3px; height:3px; padding:2px 7px 3px 7px;}
.page span.prev_page img, .page span.next_page img{visibility: top; !important}




